body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color:#f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
}
.panel-heading{
    line-height: 1.42857143 !important;
    color: #58666e !important;
}
.panel-heading,.fc-head{
    padding: 0px;
    background: #F9F9F9;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.panel-body{
    padding: 0px;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.modal-header{
    background-color: #D5DCDE;
}
.modal-title{
    color: black;
}
#paciente{
    margin-bottom: 15px;
}
#titulo{
    margin-bottom: 15px;
}

#instrucciones{
    margin-bottom: 15px;
}

#pregunta{
    -webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding-bottom: 15px;
}

#puntaje{
    margin-right: 150px;
}

#bloque{
-webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding-bottom: 15px;
}

#mas{
    margin-top: 40px;
    margin-left: -10px;
}

#finPregunta{
    margin-top: 40px;
    margin-left: -10px;
}

.footer {
    height: 50px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}
