body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background-color:#f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
}
.panel-heading{
    line-height: 1.42857143 !important;
    color: #58666e !important;
}
.panel-heading,.fc-head{
    padding: 0px;
    background: #F9F9F9;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.panel-body{
    padding: 0px;
    padding: 5px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}
.modal-header{
    background-color: #D5DCDE;
}
.modal-title{
    color: black;
}
#paciente{
    margin-bottom: 15px;
}
#titulo{
    margin-bottom: 15px;
}

#instrucciones1{
    margin-bottom: 15px;
}

#Pregunta11{
    -webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding-bottom: 15px;
}

#puntaje11{
    margin-right: 150px;
}

#bloque1{
-webkit-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding-bottom: 15px;
}

#agregar1{
    margin-top: 40px;
    margin-left: -10px;
}

#btnModificar11{
    visibility: hidden;*/
}

#finPregunta11{
    margin-top: 40px;
    margin-left: -10px;
}

/*.footer {
    height: 50px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}*/

.titulo_bloque{
    margin-top: 0px;
    padding: 10px;
    color: #fff;
    background-color: #699EDF; 
}

.bloque{
    border: solid #699EDF 4px;
    margin-bottom: 10px;
}

.pregunta{
    padding: 0 10px 0 10px;
}

.titulo_pregunta{
    font-size: 18px;
    margin-bottom: -5px;
}

.radio_opcion{
    /*border: solid rgba(0,0,0,0) 4px;
    padding: 5px 10px 5px 20px;*/
    font-size: 14px;
}